@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');


:root {
  --size-divisor: 3;
}



      html, body { height: 100%; }

      div {
        margin: 10px;
      }
      

      .oblast{
        position: relative;
        width: 500px;
        height: 500px;
        padding-top: 200px;
      }
      .oblast1{
        position: relative;
        width: 500px;
        height: 500px;
        padding-top: 200px;
      }

      .oblast2{
        position: relative;
        width: 500px;
        height: 500px;
        padding-top: 200px;
        
      }

      .oblast3{
        position: relative;
        width: 500px;
        height: 500px;
        padding-top: 200px;
      }

      .oblast4{
        position: relative;
        width: 500px;
        height: 500px;
        padding-top: 200px;
        
     
      }

      .oblast5{
        position: relative;
        width: 500px;
        height: 500px;
        padding-top: 200px;
      }

      .oblast6{
        position: relative;
        width: 500px;
        height: 500px;
        padding-top: 200px;
      }
      .oblo{
        width: 345px;
        
        height: 345px;
  
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
     
      }

      .oblo1{
        width: 345px;
        
        height: 345px;
  
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
     
      }

      .oblo2{
        width: 400px;
        
        height: 400px;
  
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
     
      }

      .ook{
        width: 400px;
        
        height: 400px;
  
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
     
      }

      .contents{
        position: absolute;
        top: 300px;
        
        
        
   
        display: flex;
    flex-direction: column;
        margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 6060px; /* 2 */

    padding-right: 0px; /* 3 */
    padding-left:  0px; /* 3 */
       
      }

      

      .contacts{
        position: absolute;
        top: 620px;
        font-family:'Rubik';
        font-size: 20px;
        z-index: 1;
        text-align: center;
        color: rgb(158, 158, 158); 
        
        }

        .contacts a{
          font-size: 21px;
          text-align: center;
          color: rgb(148, 148, 148);
        }

        .contacts1{
          position: absolute;
          top: 60%;
          font-family:'Rubik';
          font-size: 17px;
          z-index: 1;
          text-align: center;
          color: rgb(139, 139, 139); 
          
          }

          .contacts1 a{
            font-size: 17px;
            text-align: center;
            color: rgb(180, 180, 180);
          }

      

      body {
    margin: 0;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      }

     .ready-player-2, .ready-player-3, .ready-player-4 {
  
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 48px;
    padding-bottom: 50px;

    

    z-index: 1;
    
 
    }
    
    .player {
    
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-left: 50px;
      z-index: 1;
    }

    .ready-player-1 {
      
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: 48px;
      padding-bottom: 50px;
  
      
  
      z-index: 1;
    

    

    }

    nav {
	width: 100%;
  height: 100%;
	position: relative;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
   
  bottom: 1;
  z-index: 1;

	min-height: 3em;
  max-height: 100%;
  overflow: hidden;
  }

 .navr{
    height: 30%;
    width: 30%;
    position: absolute;
    top: 1;
    right: 0;
    margin: 0;
    overflow: hidden;
  }

  .vright{
    height: 97%;
    width: 97%;
  }


  .navl{
    height: 30%;
    width: 30%;
    position: fixed;
    display: inline-block;
    top: 1;
    left: 0;
    margin: 0;
    overflow: hidden;
  }

  .vleft{
    height: 100%;
    width: 100%;


  }

  

  .navb{
    height: 30%;
    width: 30%;
    position: fixed;
    display: inline-block;
    bottom: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
    
  }

  .vbutt{
    width: 20%;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 50px;
    z-index: 1;

  }


 

    @media screen and (max-width: 460px) {
  
            
            .vright,
            .vleft,
            .dura,
            .dura1,
            .dura2 {
                width: 92%;
            }
          }

          @media screen and (max-width: 520px) {
  
            
           .vbutt {
                width: 65%;
                position: fixed;
                top: 1; left: 12%; bottom: 0; right: 1;
                
            }
          }

     @media screen and (max-width: 900px) {
  
            
            
            
            .oblo,
            .oblo1,
            .oblo2 {
                width: 50%;
                height: 50%;
            }
          }

     @media screen and (max-width: 900px) {
  
            
            
            
            
            .ready-player-1,
            .ready-player-2,
            .ready-player-3,
            .ready-player-4,
            .player {
                width: 50%;
               
            }
          }




  .who{
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 10;
    
    
     
    
    z-index: 1;
  
    min-height: 100vh;
    max-height: 100%;
    
  }











































  .navr1{
    height: 64%;
    width: 64%;
    position: absolute;
    
    right: 0;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 34%; left: 0; bottom: 0; right: 0;
  }

  .vright1{
    height: 100%;
    width: 100%;
    display: flex;
     justify-content: center;
     align-items: center;
  }


  .navl1{
    height: 54%;
    width: 54%;
    
   
  
   
  
    
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 65%; right: 0;
  }

  .navl11{
    height: 45%;
    width: 45%;
    
    display: inline-block;
   
  
    
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 1; bottom: 80%; right: 0;
    z-index: 11;
  }

  .navr11{
    height: 42%;
    width: 42%;
    
    display: inline-block;
    z-index: 11;
  
  
    
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 80%; right: 1;
  }

  .vleft1{
    height: 95%;
    width: 95%;
    display: flex;
     justify-content: center;
     align-items: center;
  


  }

  .navb1{
    width: 20%;
    height: 6%;
    display: inline-block;
   
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 97%; left: 1; bottom: 0; right: 0;
    
  }

  .navb11{
    width: 50%;
    height: 30%;
    display: inline-block;
   
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 1%; left: 0; bottom: 0; right: 0;
    
  }

  .navb111{
    max-width: 100%;
    max-height: 80%;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1450px;

    
  }

  .vbutt101{
    max-width: 40%;
    max-height: 50%;

    position: fixed;
    bottom: 0;
    padding-top: 1450px;
    object-fit: contain;

  }

 


  .vbutt1{
    width: 100%;
    height: auto;
   
    
    z-index: 1;
    display: flex;
     justify-content: center;
     align-items: center;
    

  }


  .dura21{
    width: 50%;
    height: 32%;
    position: absolute;
    z-index: 11;
    
    margin-left: auto; 
    margin-right: auto; 
   
    bottom: 1;
    overflow: auto;
    margin: auto;
    
    top: 0; left: 0; bottom: 19%; right: 0;
    
  }

  .dura28{
    width: 70%;
    height: 62%;
    position: absolute;
    z-index: 11;
    
    margin-left: auto; 
    margin-right: auto; 
   
    bottom: 1;
    overflow: auto;
    margin: auto;
    
    top: 0; left: 0; bottom: 59%; right: 0;
    
  }

  

  .dura211{
    width: 42%;
    height: 20%;
    position: absolute;
    
    margin-left: auto; 
    margin-right: auto; 
   
   
    overflow: auto;
    margin: auto;
    
    top: 0; left: 0; bottom: 39%; right: 10%;
    
  }


  @media screen and (max-width: 400px) {
  
            
    .vright1,
    .vleft1 {
        width: 30%;
    }
  }

  
  @media screen and (max-width: 400px) {
  
            
    
    
    .navb1,
    .navr1
    .dura211 {
        width: 30%;
        height: 20%;
    }
  }





















  
  ul {
	width: 100%;
	text-align: center;
  position: relative;
  
  }
  
  li {
	list-style: none;
	display: inline-block;
	padding: 1.7rem;
  }
  
  a {
	text-decoration: none;
	font-family: 'Rubik';
	font-size: 2.1rem;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
  }

  a img{
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 100;
    
  }



  .showslide{
    width: 100%;
    
    position: absolute;
    right: 0;
    text-align: right;
    background-color: rgb(226, 226, 226);

 
}

.showslide video {
    object-fit: contain;
    display: inline-block;
    width: 100%;
  
}



  .aaa{
    padding-top: 10px;
    position: relative;
    top: 2px;
  }
   .dura{
    width: 390px;
    height: 390px;
     position: absolute;
     top: 5%;
     left: 36%;
     margin: -25px 0 0 -25px;
   }

   .dura1{
    width: 390px;
    top: 5%;
    height: 390px;
    position: absolute;
    
    left: 20%;
    bottom: 1%;
    margin: -25px 0 0 -25px;
  }

  .dura2{
    width: 390px;
    height: 390px;
    position: absolute;
    top: 3%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
   
    bottom: 1;
    
  }
   
 
   .mix{
    position: fixed;
    right: 0.3%;
    top: 3%;
     
   }

   .tracks{
    position: fixed;
    left: 0.3%;
    top: 3%;
   }

    
   .sms{
     position: fixed;
     right: 2%;
     bottom: 3%;
     
     
   }